<html>
  <head>
    <link rel="stylesheet" href="{{ theme_css }}" />
  </head>
  <body>
    <div class="dashboard-widgets">
      {{{ widgets_content }}}
    </div>
    <script type="text/javascript" src="{{ theme_js }}"><script>
  </body>
</html>
